<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>IBMPlexSerif-Regular.ttf</string>
		<string>IBMPlexSerif-SemiBold.ttf</string>
		<string>IBMPlexSerif-Medium.ttf</string>
		<string>IBMPlexSerif-Light.ttf</string>
		<string>IBMPlexSerif-Thin.ttf</string>
		<string>IBMPlexSerif-Bold.ttf</string>
		<string>AbrilFatface-Regular.ttf</string>
		<string>Jaldi-Regular.ttf</string>
		<string>Judson-Regular.ttf</string>
		<string>IMFellFrenchCanonSC-Regular.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>Barrio-Regular.ttf</string>
		<string>McLaren-Regular.ttf</string>
		<string>DotGothic16-Regular.ttf</string>
		<string>Gluten-Regular.ttf</string>
		<string>Bangers-Regular.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Inika-Bold.ttf</string>
		<string>NanumMyeongjo-Regular.ttf</string>
		<string>Glegoo-Regular.ttf</string>
		<string>IMFellDoublePicaSC-Regular.ttf</string>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>Astloch-Bold.ttf</string>
		<string>Exo-Regular.ttf</string>
		<string>Creepster-Regular.ttf</string>
		<string>Bonbon-Regular.ttf</string>
		<string>Bungee-Regular.ttf</string>
		<string>Taviraj-Regular.ttf</string>
		<string>ZenDots-Regular.ttf</string>
		<string>FingerPaint-Regular.ttf</string>
		<string>Monofett-Regular.ttf</string>
		<string>OvertheRainbow-Regular.ttf</string>
		<string>NothingYouCouldDo-Regular.ttf</string>
		<string>CabinSketch-Regular.ttf</string>
		<string>BethEllen-Regular.ttf</string>
		<string>Barriecito-Regular.ttf</string>
		<string>KiteOne-Regular.ttf</string>
		<string>Knewave-Regular.ttf</string>
		<string>Epilogue-Bold.ttf</string>
		<string>Khand-Bold.ttf</string>
		<string>Kavivanar-Regular.ttf</string>
		<string>JuliusSansOne-Regular.ttf</string>
		<string>Margarine-Regular.ttf</string>
		<string>BowlbyOne-Regular.ttf</string>
		<string>IMFellFrenchCanon-Regular.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>IrishGrover-Regular.ttf</string>
		<string>Felipa-Regular.ttf</string>
		<string>HanaleiFill-Regular.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>SyneMono-Regular.ttf</string>
		<string>SpecialElite-Regular.ttf</string>
		<string>Spectral-Regular.ttf</string>
		<string>Abel-Regular.ttf</string>
		<string>Cormorant-Bold.ttf</string>
		<string>FjallaOne-Regular.ttf</string>
		<string>Fruktur-Regular.ttf</string>
		<string>FjordOne.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>BioRhyme-Regular.ttf</string>
		<string>Sora-Bold.ttf</string>
		<string>ArchivoNarrow-Bold.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>FontdinerSwanky-Regular.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>Chivo-Bold.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Glegoo-Bold.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Gaegu-Regular.ttf</string>
		<string>Farro-Regular.ttf</string>
		<string>GiveYouGlory-Regular.ttf</string>
		<string>Eczar-Bold.ttf</string>
		<string>GeostarFill-Regular.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Miniver-Regular.ttf</string>
		<string>LaBelleAurore-Regular.ttf</string>
		<string>InknutAntiqua-Regular.ttf</string>
		<string>Geo-Regular.ttf</string>
		<string>Syne-Regular.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>Marcellus-Regular.ttf</string>
		<string>BalsamiqSans-Bold.ttf</string>
		<string>Anton-Regular.ttf</string>
		<string>PaletteMosaic-Regular.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>LoveYaLikeASister-Regular.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>PasseroOne-Regular.ttf</string>
		<string>Koulen-Regular.ttf</string>
		<string>Lekton-Bold.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>Meddon.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Gloock-Regular.ttf</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1039041642887733~6623941148</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3940256099942544~1458002511</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4fzdc2evr5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4pfyvq9l8r.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2fnua5tdw4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ydx93a7ass.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5a6flpkh64.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>p78axxw29g.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v72qych5uu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ludvb6z3bs.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cp8zw746q7.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>c6k4g5qg8m.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>s39g8k73mm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qy4746246.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3sh42y64q3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>f38h382jlk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>hs6bdukanm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>prcb7njmu6.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v4nxqhlyqp.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>wzmmz9fp6w.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>yclnxrl5pm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>t38b2kh725.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7ug5zh24hu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9rd848q2bz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>y5ghdn5j9k.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n6fk4nfna4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v9wttpbfk9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n38lu8286q.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>47vhws6wlr.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>kbd757ywx3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9t245vhmpl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>a2p9lx4jpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>22mmun2rn5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4468km3ulz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2u9pt9hc89.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8s468mfl3y.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>av6w8kgt66.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>klf5c3l5u5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ppxm28t8ap.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>424m5254lk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ecpz2srf59.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>uw77j35x4d.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>mlmmfzh3r3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>578prtvx9j.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4dzt52r2t5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>gta9lk7p23.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>e5fvkxwrpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8c4e2ghe7u.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>zq492l623r.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3rd42ekr43.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qcr597p9d.skadnetwork</string>
      </dict>
    </array>
</dict>
</plist>
